* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    margin-left: 10px;
    justify-content: center;
}


nav {
    width: 250px;
    padding: 20px;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 10px;
    margin: 30px;
    line-height: 1.6;
    word-break: keep-all;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;}

nav ul li a:hover {
    background-color: #ccc;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 70px;
    margin-top: 10px;
    font-size: 2.2vh;
    margin-left: -30px;
    align-items: center;
}

section {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 8px 12px;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
}

p {
    margin-bottom: 20px;
    font-size: 1.8vh;
    line-height: 1.6;
    word-break: keep-all;
    margin: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

img {
    margin-top: 10px;
    height: 550px;
    margin: 30px;
    border-radius: 30px;
    max-width: 100%;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    writing-mode: vertical-rl;
}

.back-button a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.back-button:hover {
    background-color: lightgray;
}



@media screen and (max-width: 900px) {

    nav {
    width: 180px;
    }

    .container {
        margin-left: -50px;
    }

    .content {
        margin-right: 10px;
        padding: 10px;
    }

    section {
        padding: 10px;
    }

    img {
    margin-top: 10px;
    max-width: 240px;
    height: auto;
    }

}
