* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


.c:hover {
    background-color: white;
    background-image: url("img/text.jpg");
    background-size: cover;
    background-position: center;
    color: #5b5f49;
}

.f:hover {
    background-color: white;
    background-image: url("img/people.jpg");
    background-size: cover;
    background-position: center;
    color: #e8e9e1;
}

.h:hover {
    background-color: white;
    background-image: url("img/none.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.z:hover {
    background-color: white;
    background-image: url("img/none2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}


article {
    display: flex;
}

section {
    width: calc(100vw / 4);
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    border: 0.25px solid black;
}

header {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    font-size: 3vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    padding-top: 22px;
}

h2 {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    text-align: center;
    padding: 15px;
    margin: 10px;
}


.pp {
    position: absolute;
    top: 92px;
    right: 16px;
    z-index: 1;
    font-size: 1.4vh;

}

body {
    background-color: #fff;
}

@media screen and (max-aspect-ratio: 1/1) {

    header {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1;
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    padding-top: 22px;
    }


    .pp {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 1;
    font-size: 1vh;
    }

    h2 {
        font-size: 1.9vh;
    }


}

